// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
  height:100%;
}

#container-all {
  width: 100%;
}

#home-page {
  background-color: DodgerBlue;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
  }
}

#footer {
background-color: DodgerBlue;
border-top: 1px solid DodgerBlue;
padding: 20px;
text-align: center;
font-size: .8em;
min-height: 35px;
width: 100%;
position: absolute;
bottom: 0px;
text-align: center;
}


.devise-signup {
  margin: 3em auto 12em;
  max-width: 600px;
  h2{
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 0px;
    font-size: 3rem;
  }
  .form-inputs{
    label{
      font-size: 25px;
      margin-bottom: 8px;
      line-height: 25px;
    }
    input{
      width: 350px;
      height: 30px;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
    }
    select{
      width: 550px;
      height: 250px;
      font-size: 25px;
    }
  }
}
