// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  #home-page {
    background-color: white;
    font-family: 'Open Sans', sans-serif;

    h1{
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 4em;
      font-weight: normal;
      text-align: center;
    }

  }
